{{page-title "Articles"}}

{{#each @model as |article|}}
  <h3>{{article.title}}</h3>
  <div class="detail owner">
    <span>Author:</span> {{article.author}}
  </div>
  <div class="detail type">
    <span>Price:</span> {{article.price}}
  </div>
  <div class="detail location">
    <span>ISBN:</span> {{article.isbn}}
  </div>
{{/each}}

{{outlet}}